a {
  cursor: pointer;
}

blockquote > p {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.chapterNav {
  margin-top: -1em;
  text-align: right;
}
nav {
  border-bottom: 1px solid var(--dropdown-border-color);
}

nav li {
  cursor: pointer;
}

nav .brand {
  padding-left: 2.5em;
}
nav .tangram {
  position: absolute;
  left: 0;
  top: 0.55em;
  height: 2.0em;
  padding: 0 0.5em;
}

nav .outline {
  position: absolute;
  top: 3.1em;
  right: 0;
  padding: 1em;
  transform: translate(100%, 0);
  background-color: var(--card-background-color);
  transition: transform 0.5s ease-out;
  z-index: 10;
  align-items: flex-start;
}

nav .outline.visible {
  transform: translate(0, 0);
}

nav .outline ul, nav .outline p, nav .outline  li {
  margin: 0;
  padding: 0;
  display: block;
}

nav .outline  li {
  padding-left: 1em;
  font-size: 0.8em;
}

.lessonContainer {
  position: absolute;
  top: 3.5em;
  bottom: 0;
  left: 0;
  right: 0;
}

.lessonContainer .separator {
  background-color: var(--dropdown-border-color);
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: move;
}

.lessonContainer .left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow-y: scroll;
  padding: 1em;
  overflow-x: hidden;
}
.lessonContainer .right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
}


.lessonContainer .separatorH {
  background-color: var(--dropdown-border-color);
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: move;
}

.lessonContainer .right .preview {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  overflow: scroll;
}


.editors {
  height: 50%;
}

.editorActions {
  float: right;
  position: absolute;
  right: 0;
}
.editorActions > * {
  margin-right: 0.5em;
}

.md-content h1, h2, h3, h4 {
  margin: 0;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.tabs .container {
  height: 100%;
}
.tabs .panel {
  height: calc(100% - 3em);
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  text-align: center;
  height: 3em;

  --background-color: var(--secondary);
  --border-color: var(--secondary);
  --color: var(--secondary-inverse);

  --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  border-bottom: none;

  outline: 0;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;
  transition:background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition)

}


.panel {
  display: none;
  width: 100%;
  height: 100%;
}

.preview iframe {
  border: 1px solid red;
  width: 100%;
  height: calc(100% - 4.5em);
}

.tabs .label.active {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
.tabs .panel.active {
  display: block;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }

  .label {
    width: 30%;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 2px #000;
  }

}

.container {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* editor styles */

.textarea,
.view-container {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  font-family: monospace;
  letter-spacing: normal;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  white-space: pre;
}

.view-container > pre {
}
.view-container > pre > code {
  font-size: 1rem;
  line-height: 1.2;
  font-family: monospace;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: pre;
  padding: 0;
  margin: 0;
}

.textarea {
  color: rgba(0, 0, 0, 0.0);
  resize: none;
  z-index: 2;
  position: relative;
  padding: 10px;
}

.textarea-lc {
  padding-left: 70px;
}

.textarea:focus {
  outline: none;
}

.view-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.explanation {
  position: absolute;
  width: 90%;
  left: 5%;
  padding: 1em;
  font-size: 0.8em;
}

/* Elm Syntax Highlight CSS */
pre.elmsh {
  padding: 10px;
  margin: 0;
  text-align: left;
  overflow: auto;
}

code.elmsh {
  padding: 0;
}

.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 40px;
  padding: 0 20px 0 0;
  opacity: 0.3;
  box-sizing: content-box;
}
