.editor {
  font-family: monospace;
}

nav {
  border-bottom: 1px solid var(--dropdown-border-color);
}

nav .outline {
  position: absolute;
  top: 3.5em;
  padding: 1em;
  transform: translate(-100%, 0);
  background-color: var(--card-background-color);
  transition: transform 0.5s ease-out;
  z-index: 10;
}

nav .outline.visible {
  transform: translate(0, 0);
}

nav .outline ul, nav .outline p, nav .outline  li {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}
nav .outline  li {
  padding-left: 1em;
  font-size: 0.8em;
}

.lessonContainer {
  position: absolute;
  top: 3.5em;
  bottom: 0;
  left: 0;
  right: 0;
}

.lessonContainer .separator {
  background-color: var(--dropdown-border-color);
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: move;
}

.lessonContainer .left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  padding: 1em;
}
.lessonContainer .right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
}


.lessonContainer .separatorH {
  background-color: var(--dropdown-border-color);
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: move;
}

.lessonContainer .right .preview {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
}


.editors {
  height: 50%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.tabs textarea {
  height: calc(100% - 3em);
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  text-align: center;
  height: 3em;

  --background-color: var(--secondary);
  --border-color: var(--secondary);
  --color: var(--secondary-inverse);

  --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  border-bottom: none;

  outline: 0;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;
  transition:background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition)

}

.tabs:not(:has(.radiotab:checked)) :nth-child(1 of .label),
.radiotab:checked + .label {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}

.panel {
  display: none;
  width: 100%;
  height: 100%;
}

.preview iframe {
  border: 1px solid red;
  width: 100%;
  height: calc(100% - 4.5em);
}

.radiotab:checked + .label + .panel,
.tabs:not(:has(.radiotab:checked)) :nth-child(1 of .panel) {
  display: block;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }

  .label {
    width: 33.33%;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 2px #000;
  }

}
